<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android">
    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <application
        android:networkSecurityConfig="@xml/network_security_config"
        android:usesCleartextTraffic="true"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="WroCinema"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Appka1">

        <activity android:name=".activities.SplashActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity android:name=".activities.LoginActivity" />

        <activity android:name=".activities.MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>


        <activity android:name=".activities.HomeActivity" />

        <activity android:name=".activities.ShowingsActivity" />
        <activity android:name=".activities.SeatsActivity" />
        <activity android:name=".activities.UpcomingMoviesActivity"/>
        <activity android:name=".activities.MyReservationActivity"/>
        <activity android:name=".activities.AboutActivity"/>
        <activity android:name=".activities.PromotionsActivity"/>
        <activity android:name=".activities.ReservedSeatsActivity"/>
        <activity android:name=".activities.MovieActivity"/>
        <activity android:name=".activities.RegisterActivity"/>
        <activity android:name=".activities.AdminPanelActivity"/>
        <activity android:name=".activities.adminPanel.AddMovieActivity"/>
        <activity android:name=".activities.adminPanel.DeleteMovieActivity"/>
        <activity android:name=".activities.adminPanel.AddScreeningRoomActivity"/>
        <activity android:name=".activities.adminPanel.DeleteScreeningRoomActivity"/>
        <activity android:name=".activities.adminPanel.AddShowingActivity"/>
        <activity android:name=".activities.adminPanel.DeleteShowingActivity"/>
    </application>

</manifest>